.fa-check-circle{
    color:#28a745;
    font-size: 50px;
}

.fa-exclamation-triangle{
    color:#ffc107;
    font-size: 50px;
}

#refrescareportes{
    width: 20%;
    height: 100%;
    font-size: x-large;
}

.fa fa-bars{
    font-size: 30px;
}
.easy-autocomplete.eac-square{
    font-family: Arial, Helvetica, sans-serif;
}

.modal-footer{
    bottom: 0px;
}

.modal-dialog-lg{
    width: 90% !important;
    max-width: 90% !important;
    min-width: 90% !important;
}