.fa-check-circle{
    color:#28a745;
    font-size: 50px;
}

.fa-exclamation-triangle{
    color:#ffc107;
    font-size: 50px;
}

.fa-exclamation-circle{
    color:#0275d8;
    font-size:50px;
}

.fa-times-circle{
    color:#d9534f;
    font-size:50px;
}

#refrescareportes{
    width: 30%;
    height: 100%;
    font-size: x-large;
}

#btnvereport{
    width:100%;
}

.fa fa-bars{
    font-size: 30px;
}
.easy-autocomplete.eac-square{
    font-family: Arial, Helvetica, sans-serif;
}

.modal-footer{
    bottom: 0px;
}

.modal-dialog-lg{
    width:      98% !important;
    max-width:  98% !important;
    min-width:  98% !important;
}

th{
    background: white;
    position: sticky;
    top: 0; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  }

tr.inform th{
    background: #5bc0de;
    color: white;
    border:0;
}