.fa-check-circle{
    color:#28a745;
    font-size: 50px;
}

.fa-exclamation-triangle{
    color:#ffc107;
    font-size: 50px;
}

.fa fa-bars{
    font-size: 30px;
}
.easy-autocomplete.eac-square{
    font-family: Arial, Helvetica, sans-serif;
}

.modal-lg {
    width: 80% !important;
    max-width: 80% !important;
}