<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reportes Home Depot</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/EasyAutocomplete-1.3.5/easy-autocomplete.css">
    <link rel="stylesheet" href="../js/EasyAutocomplete-1.3.5/easy-autocomplete.themes.css">
    <link rel="stylesheet" href="../../icons/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/capturareportes.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<div class="container-well">
  <div class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center">
    <a class="navbar-brand">
      <img src="../../icons/logo.png"class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <h4 style="text-align: center;">Tipo de reporte</h4>
        <select id="tiporeporte" class="form-control mt-4" onchange="cambiotiporeporte()">
          <option selected value="Vending">Vending</option>
          <option>Kiosko</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4" id="contenedorprincipal">
    <div class="row" id="formvending">
        <div class="col-md-4 mt-1">
          <div class="form-group">
            <h5>Persona que reporta</h5>
            <input type="text" class="form-control" id="quienreporta" 
            placeholder="Nombre de quien reporta">
            <input id="ruta" type="hidden">
            <input id="npventa" type="hidden">
          </div>
          <div class="form-group mt-1">
            <h5>Teléfono</h5>
            <input type="text" class="form-control" id="telefono" 
            placeholder="Teléfono de quien reporta">
          </div>
          <div class="form-group">
            <h5>Punto de venta</h5>
            <input type="text" class="form-control" id="pventa" 
            placeholder="Punto de venta del reporte">
          </div>
        </div>
        <div class="col-md-4 mt-1">
          <div class="form-group">
            <h5>Recibe el reporte</h5>
            <input type="text" class="form-control" id="aquienreporta" 
            placeholder="Nombre de quien recibe el reporte">
          </div>
          <div class="form-group mt-1">
            <h5>Plaza</h5>
            <input type="text" class="form-control" id="plaza" 
            placeholder="Plaza del punto de venta" readonly>
          </div>
          <div class="form-group mt-1">
            <h5>Tipo de persona que reporta</h5>
            <select id="tiporeporta" class="form-control">
              <option selected value="seleccionar">Seleccionar...</option>
              <option>Usuario Externo</option>
              <option>Empleado</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 mt-1">
          <div class="form-group mt-1">
            <h5>Tipo de máquina</h5>
            <input type="text" class="form-control" id="tipomaq" 
            placeholder="Tipo de máquina del punto de venta" readonly>
          </div>
          <div class="form-group">
            <h5>Observaciones</h5>
            <textarea class="form-control" id="observaciones" rows="4" 
            placeholder="Observaciones del problema que originó el reporte" maxlength="255"></textarea>
          </div>
        </div>
    </div>

    <div class="row" id="formkiosko" style="display: none;">
      <div class="col-md-3 mt-1">
        <div class="form-group">
          <h5>Persona que reporta</h5>
          <input type="text" class="form-control" id="quienreportaksnacks" 
          placeholder="Nombre de quien reporta">
          <input id="rutaksnacks" type="hidden">
          <input id="npventaksnacks" type="hidden">
        </div>
        <div class="form-group mt-1">
          <h5>Teléfono</h5>
          <input type="text" class="form-control" id="telefonoksnacks" 
          placeholder="Teléfono de quien reporta">
        </div>
        <div class="form-group">
          <h5>Punto de venta</h5>
          <input type="text" class="form-control" id="pventaksnacks" 
          placeholder="Punto de venta del reporte">
        </div>
      </div>
      <div class="col-md-3 mt-1">
        <div class="form-group">
          <h5>Recibe el reporte</h5>
          <input type="text" class="form-control" id="aquienreportaksnacks" 
          placeholder="Nombre de quien recibe el reporte">
        </div>
        <div class="form-group mt-1">
          <h5>Plaza</h5>
          <input type="text" class="form-control" id="plazaksnacks" 
          placeholder="Plaza del punto de venta" readonly>
        </div>
        <div class="form-group mt-1">
          <h5>Tipo de punto de venta</h5>
          <input type="text" class="form-control" id="tipoksnacks" 
          placeholder="Tipo de punto de venta" readonly>
        </div>
      </div>
      <div class="col-md-3 mt-1">
        <div class="form-group mt-1">
          <h5>Tipo de anomalía</h5>
          <select id="tipoanomaliaksnacks" class="form-control">
          </select>
        </div>
        <div class="form-group mt-1">
          <h5>Departamento responsable</h5>
          <select id="deptoksnacks" class="form-control" onchange="cambiodepto()">
            <option selected value="seleccionar">Seleccionar...</option>
            <option>Sistemas</option>
            <option>Mantenimiento</option>
          </select>
        </div>
        <div class="form-group mt-1">
          <h5>Tipo de persona que reporta</h5>
          <select id="tiporeportaksnacks" class="form-control">
            <option selected value="seleccionar">Seleccionar...</option>
            <option>Usuario Externo</option>
            <option>Empleado</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mt-1">
        <div class="form-group">
          <h5>Observaciones</h5>
          <textarea class="form-control" id="observacionesksnacks" rows="8" 
          placeholder="Observaciones del problema que originó el reporte" maxlength="255"></textarea>
        </div>
      </div>
  </div>

    <div class="row mt-5">
      <div class="col-md-8 offset-2 d-flex justify-content-center">
        <button class="col-md-4 btn btn-primary mr-5" type="button" onclick="guardar()">Guardar reporte</button>
        <button class="col-md-4 btn btn-secondary ml-5" onclick="limpiar()">Limpiar</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 offset-4">
        <button class="btn btn-success" onclick="vereportes()" id="btnvereport">Ver reportes</button>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Confirmaregistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulomodal">¡Registro guardado con éxito!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-between" id="modalbody">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="botonmodal" style="color:white" onclick="continuarcaptura()">Continuar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para ver reportes-->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="vereportesmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header no-border">
        <div class="container" style="min-width:100%;">
          <div class="row" style="min-width:100%;">
            <h5 class="modal-title" id="titulomodalreportes">Modificar reportes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="tab-reportes-fecha" data-toggle="tab" href="#nav-repfecha" role="tab" aria-controls="home" aria-selected="true">Filtrar reportes por fecha y tipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-reportes-folio" data-toggle="tab" href="#nav-repfolio" role="tab" aria-controls="profile" aria-selected="false">Buscar reporte por folio y tipo</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="nav-repfecha" role="tabpanel" aria-labelledby="reportes-fecha">
                <div class="row mt-4">
                  <div class="col-md-3 form-group mt-1">
                    <h5>Fecha inicial</h5>
                    <input type="date" id="fecha1" onchange="consultareportes()">
                  </div>
                  <div class="col-md-3 form-group mt-1">
                    <h5>Fecha límite</h5>
                    <input type="date" id="fecha2" onchange="consultareportes()">
                  </div>
                  <div class="col-md-3 form-group mt-1">
                    <h5>Tipo de reportes</h5>
                    <select id="tiporeportemodal" class="form-control" onchange="consultareportes()">
                      <option selected value="seleccionar">Seleccionar...</option>
                      <option>Kiosko</option>
                      <option>Vending</option>
                    </select>
                  </div>
                  <div class="col-md-3 d-flex justify-content-end form-group mt-2">
                    <button class="btn btn-danger" onclick="consultareportes()" id="refrescareportes"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                  </div>
              </div>
            </div>
              <div class="tab-pane fade" id="nav-repfolio" role="tabpanel" aria-labelledby="reportes-folio">
                <div class="row mt-4">
                  <div class="col-md-4">
                    <h5>Buscar reporte</h5>
                    <div class="input-group">
                      <input type="text" id="folioreporte" placeholder="Escribe el folio de reporte" class="form-control" onkeypress="return onlyNumberKey(event)">
                      <div class="input-group-append">
                          <button class="btn btn-secondary" type="button" onclick="buscareporte()">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 form-group">
                    <h5>Tipo de reporte</h5>
                    <select id="tiporeportefolio" class="form-control" onchange="buscareporte()">
                      <option selected value="seleccionar">Seleccionar...</option>
                      <option>Kiosko</option>
                      <option>Vending</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-body" style="padding:0;" id="modalbodyreportes">
        <div class="container" style="min-width: 98%;">
        <div class="row mt-4">
          <div class="col-md-12">
            <table class="table table-responsive-lg">
                <thead id="headtabla">
                    <tr class="inform">
                      <th scope="col">Folio</th>
                      <th scope="col">Punto de venta</th>
                      <th scope="col">Fecha del reporte</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Estatus</th>
                      <th scope="col">Persona que reportó</th>
                      <th scope="col">Observaciones</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody id="bodytabla">
                    
                  </tbody>
              </table>
          </div>
      </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" id="botonmodalreportes" style="color:white" onclick="continuarcapturarep()">Continuar</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="../js/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.js"></script>
<script type="text/javascript" src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../js/capturareportes.js"></script>
</body>
</html>