<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reportes Home Depot</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/EasyAutocomplete-1.3.5/easy-autocomplete.css">
    <link rel="stylesheet" href="../js/EasyAutocomplete-1.3.5/easy-autocomplete.themes.css">
    <link rel="stylesheet" href="../../icons/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/capturareportes.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<div class="container-well">
  <div class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center">
    <a class="navbar-brand">
      <img src="../../icons/logo.png"class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="vereportes()">Ver reportes</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container" style="margin-top: 10%;" id="contenedorprincipal">
    <div class="row">
        <div class="col-md-4 mt-1">
          <div class="form-group">
            <h5>Persona que reporta</h5>
            <input type="text" class="form-control" id="quienreporta" 
            placeholder="Nombre de quien reporta">
            <input id="ruta" type="hidden">
            <input id="npventa" type="hidden">
          </div>
          <div class="form-group mt-1">
            <h5>Teléfono</h5>
            <input type="text" class="form-control" id="telefono" 
            placeholder="Teléfono de quien reporta">
          </div>
          <div class="form-group">
            <h5>Punto de venta</h5>
            <input type="text" class="form-control" id="pventa" 
            placeholder="Punto de venta del reporte">
          </div>
        </div>
        <div class="col-md-4 mt-1">
          <div class="form-group">
            <h5>Recibe el reporte</h5>
            <input type="text" class="form-control" id="aquienreporta" 
            placeholder="Nombre de quien recibe el reporte">
          </div>
          <div class="form-group mt-1">
            <h5>Plaza</h5>
            <input type="text" class="form-control" id="plaza" 
            placeholder="Plaza del punto de venta" readonly>
          </div>
          <div class="form-group mt-1">
            <h5>Tipo de persona que reporta</h5>
            <select id="tiporeporta" class="form-control">
              <option selected value="seleccionar">Seleccionar...</option>
              <option>Usuario Externo</option>
              <option>Empleado</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 mt-1">
          <div class="form-group mt-1">
            <h5>Tipo de máquina</h5>
            <input type="text" class="form-control" id="tipomaq" 
            placeholder="Tipo de máquina del punto de venta" readonly>
          </div>
          <div class="form-group">
            <h5>Observaciones</h5>
            <textarea class="form-control" id="observaciones" rows="4" 
            placeholder="Observaciones del problema que originó el reporte"></textarea>
          </div>
        </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8 offset-2 d-flex justify-content-center">
        <button class="col-md-4 btn btn-primary mr-5" type="button" onclick="guardar()">Guardar reporte</button>
        <button class="col-md-4 btn btn-secondary ml-5" onclick="limpiar()">Limpiar</button>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Confirmaregistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulomodal">¡Registro guardado con éxito!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center" id="modalbody">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="botonmodal" style="color:white" onclick="continuarcaptura()">Continuar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para ver reportes-->
<div class="modal fade" id="vereportesmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulomodalreportes">Modificar reportes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalbodyreportes">
        <div class="container">
          <div class="row">
            <input type="text" id="datepicker1" class="col-md-3 ">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="botonmodalreportes" style="color:white" onclick="continuarcapturarep()">Continuar</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="../js/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.js"></script>
<script type="text/javascript" src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../js/capturareportes.js"></script>
</body>
</html>